{% block question1 %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://emojio.ru/images/apple-b/1f914.png" class="card-img" alt="..">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title"><a href="">Какой-то интересный вопрос #1</a></h5>
        <p class="card-text">Краткое описание...</p>
        <p class="card-text"><small class="text-muted">Tags: Some tag..</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block question2 %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://cdn.fishki.net/upload/post/2019/09/20/3091342/1568622566-17.jpg" class="card-img" alt="..">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="">Какой-то интересный вопрос #2</a></h5>
        <p class="card-text">Краткое описание...</p>
        <p class="card-text"><small class="text-muted">Tags: Some tag..</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block question3 %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://www.meme-arsenal.com/memes/03a6bd1288aa042472c219701163de9b.jpg" class="card-img" alt="..">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="">Какой-то интересный вопрос #3</a></h5>
        <p class="card-text">Краткое описание...</p>
        <p class="card-text"><small class="text-muted">Tags: Some tag..</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
